@import "../index.scss";

.currency {
  @include flex(row nowrap, center, center);
  cursor: pointer;
  position: relative;
  height: 100%;

  ul {
    position: absolute;
    top: 5rem;
    box-shadow: 0px 4px 35px 0px rgba(168, 172, 176, 0.19);
    transform: scale(0);
    overflow: hidden;
    z-index: 5;
    transition: all 0.3s ease;

    &.currencies-opened {
      transform: scale(1);
      transform-origin: top center;
      transition: all 0.5s ease;
    }

    li {
      padding: 1rem 2rem 1rem 1rem;

      &:hover {
        font-weight: 500;
      }
    }
  }

  .expand {
    height: 0.25rem;
    margin-left: 0.25rem;
    transition: all 0.3s ease;

    &.currencies-opened {
      transform: rotate(180deg);
    }
  }
}
