@import "../index.scss";

.products {
  padding-top: 10rem;

  &.dialog-opened {
    background: rgba(57, 55, 72, 0.22);
    pointer-events: none;

    h2 {
      padding: 0 4rem 5.5rem;
    }

    .products-wrapper {
      width: calc(100% - 8rem);
      margin: 0 4rem;

      .product {
        margin: 1rem;
        padding: 1rem;
        z-index: -1;
      }
    }
  }

  h2 {
    font-size: 2.625rem;
    font-weight: 400;
    padding-bottom: 5.5rem;
    text-transform: capitalize;
  }

  .products-wrapper {
    @include flex(row wrap, center, space-around);
    width: 100%;

    .product {
      @include flex(column nowrap, flex-start, center);
      padding: 1rem;
      margin: 1rem;
      position: relative;
      cursor: pointer;
      transition: all 0.4s ease;

      &.hovered {
        box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
        transform: scale(1.05);
      }

      .cart-button {
        width: 3.25rem;
        height: 3.25rem;
        border-radius: 50%;
        background: #5ece7b;
        position: absolute;
        bottom: 4rem;
        right: 2rem;
        transform: scale(0);
        transition: all 0.5s ease;

        &.appeared {
          transform: scale(1) rotate(360deg);
          animation: pulsate 2s 1s infinite;

          @keyframes pulsate {
            0% {
              transform: scale(0.95);
              box-shadow: 0 0 0 0 rgba(94, 206, 123, 0.7);
            }

            70% {
              transform: scale(1);
              box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            }

            100% {
              transform: scale(0.95);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            }
          }

          &:active {
            transform: scale(0.9) rotate(360deg);
            animation: none;
          }
        }

        .cart-icon {
          @include flex(row nowrap, center, center);
          width: 1.5rem;
          height: 1.5rem;
          height: 100%;
          transform: translateX(50%);
        }
      }

      .product-image {
        width: 22.125rem;
        height: 20.625rem;
        padding-bottom: 1.5rem;

        &.out-of-stock {
          opacity: 0.5;
        }
      }

      .out-of-stock-text {
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        font-size: 1.5rem;
        font-weight: 400;
        color: #8d8f9a;
        opacity: 1;
      }

      p {
        font-size: 1.125rem;
        color: #1d1f22;
      }

      .name {
        font-weight: 300;
      }

      .price {
        font-weight: 500;
      }
    }
  }
}
